body {
	background: #EEEEEE;
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Tahoma, Verdana, Arial;
}

a { 
	color: #3C6491;
	background-color: inherit;
}

a:hover {
	color: #BF3E17;
	background-color: inherit;
}

h1 {
	font: 160% Arial, Sans-Serif;
	font-weight: bold;
	padding: 3px 0 0 0;
	margin: 0;
	display:inline;
}

h1 a {
	color: #BF3E17;
	background: inherit;
	text-decoration: none;
}

h1 a:hover {
	color: #3C6491;
	background: inherit;
	text-decoration: none;
}

h2 {
	margin: 8px 0 5px 0;
	padding: 0;
	font-size: 1.4em;
	letter-spacing: -1px;
	color: #808080;
	background-color: inherit;
}

br { line-height:10px;}

h2 a {
	color: #000000;
	text-decoration: none;
	background-color: inherit;
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0 0 0 20px;
}


p {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}
#content{
	clear: both;
	width: 1050px;
	height: 45px;
	margin: 0 auto;
}

#logo {
	padding: 40px 0 0 0px;
	color: #000000;
	background: inherit;
	width: 400px;
	font-size: 0.7em;
}


#left {
	width: 600px;
	padding: 0 10px 0 0;
}

.status {
	border-left: 1px solid #CCCCCC;
	padding: 0 0 0 20px;
	display:inline;
	margin-left: 20px;
	font-size: 0.7em;
}
.posts{
	border-spacing: 1px;
	border-left: 1px solid #1F2A34;
	border-right: 1px solid #1F2A34;
	font-size: 10px;
}
.innards{
	background: #2d3134;
	color: #fff;
	border: 1px solid #373B3E;
	padding-left: 3px;
	height: 40px;
}
