<select name="current_page" >
<% @pages.each do |page| %>
 <option value="<%=page.id%>" ><%=page.category%> - <%=page.name%></option>
<% end %>
</select>

<input type="checkbox" selected="false" /> Default group