<select name="current_page" >
<% @groups.each do |group| %>
 <option value="<%=group.id%>" ><%=group.name%></option>
<% end %>
</select>

<br/>
<input type="checkbox" selected="false" /> Default group <br/>

<% @posts.each do |post| %>
 <%=post.message%><br/> 
<% end %>

